/******** shopping cart bar *********/
#shopping-cart-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--primary-color);
  color: var(--light-color);
  position: fixed;
  top: 4.4rem;
  padding: 0 2rem;
  width: 100%;
  height: 2.4rem;
  opacity: 0.95;
  cursor: pointer;
}

.shopping-cart-btn {
  color: var(--light-color);
  text-decoration: none;
  z-index: 1;
}

.shopping-cart-btn:hover {
  opacity: 0.7;
}

/******* shopping cart modal *******/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 3px;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  width: 90%;
  height: 80%;
  background-color: var(--light-color);
  z-index: 1;
  /* padding: 0px; */
  /* max-height: 225px;
  max-width:  200px;  */
  /* margin-left: auto;
  margin-right: auto; */
}

.modal-container {
  /* overflow: 1,2; */
  /* overflow-y: scroll; */
  /* margin: 2rem; */
  /* overflow: scroll; */
  /* display: inline-block;
  width: auto; */
}

.modal-container table {
  /* margin-top: 1rem; */
  border-collapse: collapse;
  background-color: var(--light-color);
  width: 100%;
  height: 100%;
  /* min-width: 678px; */

  /* table-layout: fixed;
  word-wrap: break-word; */
  /* height: 500px; */
  /* max-height: 500px; */
  /* overflow: visible;
  max-height: calc(100vh - 100px); */
  /* max-height: 80vh; overflow: auto; */
}

.modal-container th {
  text-align: left;
  padding: 10px 5px;
  font-weight: 400;
  font-size: medium;
  /* overflow: scroll; */
  /* overflow: scroll; */
}

.modal-container td {
  color: var(--secondary-color);
  /* padding: 1px; */
  border-bottom: solid 1px #e9e8e2;
}

.modal-container thead {
  color: #fff;
  background-color: var(--primary-color);
}

.hidden {
  display: none;
}

.overlay {
  /* position: absolute;  this does not show overlay outside viewport*/
  position: fixed; 
  viewport-fit: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 170%;
  background-color: rgba(0, 0, 0, 0.5);
}

.close-modal {
  position: absolute;
  top: 0;
  right: 9px;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}

.close-modal:hover,
.close-modal:focus {
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
}

/******* courses table  *******/
.table-courses-container table {
  margin-top: 6.8rem;
  border-collapse: collapse;
  background-color: var(--light-color);
  width: 100%;
  min-width: 678px;
}

.table-courses-container th {
  text-align: left;
  padding: 10px 5px;
}

.table-courses-container td {
  color: var(--secondary-color);
  padding: 5px;
  border-bottom: solid 1px #e9e8e2;
}

.table-courses-container thead {
  color: #fff;
  background-color: var(--secondary-color);
}

.table-courses-container {
  overflow: hidden;
}

.cart-btn-table {
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
  z-index: 1;
}

.cart-btn-table:hover {
  opacity: 0.7;
}

/******** media queries ********/
@media (max-width: 580px) {
  .table-courses-container {
    margin-top: 37px;
  }

  #shopping-cart-bar {
    top: 6.7rem;
  }

   /* .modal-container {
    overflow: visible;
     overflow-x: scroll; 
    
  }  */
}

@media (max-width: 759px) {
  .table-courses-container {
    overflow: visible;
    overflow-x: scroll;
  }

   /* .modal-container {
     overflow: visible; 
    overflow-x: scroll;
  }  */
}