/******* shopping cart modal *******/
.modal {
  width: 600px;
  max-width: 100%;
  height: 380px;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--light-color);
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  color: var(--secondary-color);
}

.modal-buy {
  width: 400px;
  max-width: 100%;
  height: 200px;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--light-color);
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  color: var(--secondary-color);
}

.modal-buy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-buy p {
  width: 80%;
}

.modal-buy .close-buy-confirmation {
  cursor: pointer;
  width: 120px;
  border-radius: 2px;
  padding: 0.1rem;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: solid 1px var(--secondary-color);
  border-radius: 2px;
  z-index: 1;
}

.closed,
.closed-buy,
.close-overlay-buy {
  display: none;
}

.modal-overlay,
.modal-overlay-buy {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
}
.modal-guts {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /*gör den scrollbar*/
  /* justify-content: center; */
}

.modal .modal-title {
  font-size: 2rem;
  color: var(--secondary-color);
}

.modal table {
  border-collapse: collapse;
  background-color: var(--light-color);
  width: 97%;
}

.modal th {
  text-align: left;
  padding: 5px 5px;
  font-weight: 400;
  font-size: medium;
}

.modal td {
  color: var(--secondary-color);
  border-bottom: solid 1px #e9e8e2;
  padding-right: 10px;
  padding-left: 10px;
}

.modal thead {
  color: #fff;
  background-color: var(--secondary-color);
}

.modal,
.modal-buy {
  overflow: hidden;
}

.modal .close-button,
.modal-buy #close-button-buy {
  opacity: 0.5;
  position: absolute;
  z-index: 1;
  top: 5px;
  /* needs to look OK with or without scrollbar */
  right: 20px;
  border: none;
  outline: none;
  background: rgb(245, 244, 244);
  color: var(--secondary-color);
  padding: 0px 0px;
  font-size: 2rem;
}

.modal .close-button:hover,
.modal .close-button:focus,
.modal-buy #close-button-buy:hover,
.modal-buy #close-button-buy:focus {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.modal .to-payment {
  cursor: pointer;
  display: inline-block;
  padding: 0.8rem 2rem;
  margin-bottom: 2rem;
  /* border: none; */
  border-radius: 2px;

  padding: 0.1rem;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: solid 1px var(--secondary-color);
  border-radius: 2px;
  z-index: 1;
}

.modal .delete {
  color: var(--primary-color);
  cursor: pointer;
  opacity: 1;
}

.modal .delete:hover,
.modal .delete:focus {
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
}

/******** shopping cart bar *********/
#shopping-cart-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--primary-color);
  color: var(--light-color);
  position: fixed;
  top: 4.4rem;
  padding: 0 2rem;
  width: 100%;
  height: 2.4rem;
  opacity: 0.95;
  cursor: pointer;
}

#open-button {
  color: var(--light-color);
  text-decoration: none;
  z-index: 1;
}

#open-button:hover {
  opacity: 0.7;
}

/******* courses table  *******/
.table-courses-container table {
  margin-top: 6.8rem;
  border-collapse: collapse;
  background-color: var(--light-color);
  width: 100%;
  min-width: 678px;
}

.table-courses-container th {
  text-align: left;
  padding: 10px 5px;
}

.table-courses-container td {
  color: var(--secondary-color);
  padding: 5px;
  border-bottom: solid 1px #e9e8e2;
}

.table-courses-container thead {
  color: #fff;
  background-color: var(--secondary-color);
}

.table-courses-container {
  overflow: hidden;
}

.cart-btn-table {
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
  z-index: 1;
}

.cart-btn-table:hover {
  opacity: 0.7;
}

/******** media queries ********/
@media (max-width: 580px) {
  .table-courses-container {
    margin-top: 37px;
  }

  #shopping-cart-bar {
    top: 6.7rem;
  }

  /* .modal-container {
    overflow: visible;
     overflow-x: scroll; 
    
  }  */
}

@media (max-width: 759px) {
  .table-courses-container {
    overflow: visible;
    overflow-x: scroll;
  }

  /* .modal-container {
     overflow: visible; 
    overflow-x: scroll;
  }  */
}
